* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #01172F;
 }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-one {

    background-image: url(images/World-Map-Download-PNG.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-one-topic > h1{
    color: #00FFFF;
    text-align: center;
}
.section-two {

}